body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36D2FB;
    background-image: url("https://images.unsplash.com/photo-1604964432806-254d07c11f32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-attachment: fixed;
    background-size: cover;
}

code {
  font-family: 'Courier New',
    monospace;
}

body,
html {
  font-family: 'Courier New';
  
}
*{
  color: red;
}

 h1, h2, h4{
  color: rgb(102, 102, 175);
}


h3{
  color:rgb(252, 252, 250)
} 

h5{
  color: rgb(96, 96, 238);
}
